.logo{
	font-size: 3em;
	font-family: Georgia;
	text-align: center;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	color: white;
	background-color: #000000;
}

#full{
	height: 100%;
	width: 100%; 
	overflow: hidden;
	background-image: url('landscape.jpg'); 	
	background-attachment:fixed;
	background-position:center; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: all 2s;
}
/********************/
/* The start screen */
/********************/
#start{
	height: 100%;
	width: 100%;
	transition: all 1s;
	position: relative;
	left: 0px;
}
/*around buttons*/
.buttonholder{
	position: relative;
	margin-top: 75px;
	margin-right: auto;
	margin-left: auto;
	height: 250px;
	width: 340px;
	background-color: #7B9F35;
	border-radius: 10px;
	opacity: .90;
}
/*start menu buttons*/
.startbutton{
	color: white;
	height: 90px;
	width: 300px;
	margin-top: 7%;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.5em;
	font-weight:900;
	background-color: #555500;
	border-radius: 10px;
	opacity: 1;
}
/********************/
/* The game screen */
/********************/
#game{
	height: 100%;
	width: 100%;
	background-color: grey;
	color: black;
	position: relative;
	top: -100%;
	left: 100%;
	transition: all 1s;
	/*for a fade in effect*/
	opacity: 0;
}
/*Left side bar*/
#leftside{
	float: left;
	border: solid black;
	height: 95%;
	width: 250px;
	background-color: #517906;
}
li{
	list-style-type: none;
	background-color: #EDCC0C;
	width: 90%;
	margin-bottom: 50px;
	margin-top: 50px;
	font-size: 4em;
	transition: all 1s;
}
/********************/
/* The map screen */
/********************/
#map{
	height: 100%;
	width: 100%;
	background-color: blue;
	border: solid black 40px;
	position: relative;
	top: -200%;
	left: 100%;
	transition: all 1s;
	/*for a fade in effect*/
	opacity: 0;
}

/********************/
/* DArvil */
/********************/
#inner{
	height: 465px;
	width: 465px;
	margin-right: auto;
	margin-left: auto;
}
.mountain {
	width: 90px;
	height: 90px;
	border-style: solid;
	border-width: 1px;
	float: left;
	background-image: url(Mountain.png);
	background-position:center; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

.forest {
	width: 90px;
	height: 90px;
	border-style: solid;
	border-width: 1px;
	float: left;
	background-image: url(Forest.png);
	background-position:center; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

#arrowContainer {
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;

}

.arrows {
	width: 50px;
	height: 50px;
}

.up{
	margin-left: auto;
	margin-right: auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

.down{
	margin-left: auto;
	margin-right: auto;
}